<div class='well'>

  <%= form_for @user do |f| %>

  <%= render 'shared/errors', obj: @user %>

  <%= f.label :username %><br/>
  <%= f.text_field :username, required: :true %><br/>
  (email address where you can be reached regarding future inquiries matching the bike you searched for)
      <br/>
      <br/>
    <%= f.label :password %><br/>
    <%=f.password_field :password, required: :true %>
      <br/>
      <br/>
    <%= f.label :full_name %><br/>
    <%= f.text_field :full_name, required: :true %>
      <br/>
      <br/>
    <%= f.label :phone %>(optional)<br/>
    <%=f.text_field :phone %>
      <br/>
      <br/>
    <%= f.label :zipcode %><br/>
    <%= f.text_field :zipcode, required: true %>
      <br/>
      <br/>    
    <%= f.submit @user.new_record? ? "Register" : "Update Profile", class: 'btn-btn-success' %>
  <% end %>
</div>