<body onload="getGeoLocation()">
<div class='well'>

<script type="text/javascript">
function f(o){
  o.value=o.value.toUpperCase().replace(/([^0-9A-Z])/g,"");
}

function g(o){
  if(/[^0-9A-Z]/.test(o.value)){
    o.value=o.value.toUpperCase().replace(/([^0-9A-Z])/g,"");
  }
}
</script>

<%= form_for Bike.new do |f| %>
  <h1>Start Here</h1>
  <h4>What's the bike's serial number?</h4>
  <small>(letters and numbers only, no spaces)</small>
  <br/>
  <input type="text"
         onkeydown="f(this)"
         onkeyup="f(this)"
         onblur="f(this)"
         onclick="f(this)" 
  <%= f.text_field :serial_number, :required => true %>
  </>
  <h4>What's your email address?</h4>
  <%= f.text_field :submitter, :required => true %>
  <br/>
  <br/>
  <%= f.hidden_field :submitter_ip, :value => @ip %>


  <script>
  function getGeoLocation() {
    navigator.geolocation.getCurrentPosition(setGeoCookie);
  }

  function setGeoCookie(position) {
    var cookie_val = position.coords.latitude + "," + position.coords.longitude;
    document.cookie = "lat_lng=" + escape(cookie_val);

   $(document).ready(function(){
        $("#loco").val(cookie_val);
    });

  }
  </script>
 <%- unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
 <%- end %>

<script type="text/javascript">
function h(o){
  o.value=o.value().replace(/([^0-9 \.,-'_])/g,"");
}
</script>
  <input type="hidden"
         onsubmit="h(this)"> 
  <%= f.hidden_field :lat_long, :id => "loco", :required => true %>
  </>
  <br/>
  <br/>
  <div style="float:right"><%= f.submit "Next", class: 'btn btn-primary' %></div>
  <br/>
  <br/>  

  <% end %>
</div>

</body>