<div class='well'>
  <h1>Add or Edit Information About Your Bike:</h1>
  <div class='row'>
    <div class="col-xs-7">
      <h4>
        <ul class='list-inline'> 
          <li>Serial Number: <%= @bike.serial_number %></li><li></li><li></li><li></li>
          <li>Your email: <%= @bike.submitter %></li>
        </ul>
      </h4>
    </div>
  </div>
  <br/>

  <div class='row'>
    <!-- div class="col-xs-4" --> 
      <%= form_for(@bike) do |f| %>
          Why are you inquiring about this bike?
          <%= f.select :inquiry_reason, [[''], ['I am the owner and it is LOST/STOLEN'], ['I have just purchased it USED from a private party'], ['I am CONSIDERING purchasing it from a private party'], ['I just purchased it NEW from a retail store'], ['I just purchased it USED from a retail store']] %>
          <br/>
          <br/>
        On what date did the above selected activity happen?
        <%= f.date_select(:date, :order => [:month, :day, :year]) %>
        <br/>
        <br/>
        Brand:
        <%= f.select :brand, [[''], ['Trek'], ['Schwinn'], ['Giant'], ['Cannondale'], ['Mongoose'], ['Raleigh'], ['Specialized'], ['Diamondback'], ['Fuji'], ['Haro'], ['Shimano'], ['Huffy'], ['Gary Fisher'], ['Ellsworth'], ['Klein'], ['Jamis'], ['Bianchi'], ['GT'], ['Rocky Mountain'], ['Scott'], ['Litespeed'], ['Electra'], ['Surly'], ['Marin'], ['Terry Precision'], ['Sun'], ['Iron Horse'], ['Next'], ['LeMond'], ['Redline'], ['OTHER']] %>
        <br/>
        <br/>
        Model:
        <%= f.text_field :model  %>
        <br/>
        <br/>
        Style:
        <%= f.text_field :style  %>
        <br/>
        <br/>
        Color:
        <%= f.text_field :color %>
        <br/>
        <br/>
        Size:
        <%= f.select :size_letter, [[''], ['XS'], ['S'], ['SM'], ['M'], ['ML'], ['L'], ['XL'], ['XXL']] %>
        <br/>
        <br/>
        Size in centimeters:
        <%= f.select :size_centimeters, [[''], ['41'], ['42'], ['43'], ['44'], ['45'], ['46'], ['47'], ['48'], ['49'], ['50'], ['51' ], ['52'], ['53'], ['54'], ['55'], ['56'], ['57'], ['58'], ['59'], ['60'], ['61'], ['62']] %>
        <br/>
        <br/>
        Size in inches:

        <%= f.select :size_inches, [[''], ['41'], ['42'], ['43'], ['44'], ['45'], ['46'], ['47'], ['48'], ['49'], ['50'], ['51'], ['52' ], ['53'], ['54'], ['55'], ['56'], ['57'], ['58'], ['59'], ['60'], ['61'], ['62']] %>
        <br/>
        <br/>
        Year manufactured:
        <%= f.select :year, [[''], ['1991'], ['1992'], ['1993'], ['1994'], ['1995'], ['1996'], ['1997'], ['1998'], ['1999'], ['2000'], ['2001'], ['2002'], ['2003'], ['2004'], ['2005'], ['2006'], ['2007'], ['2008'], ['2009'], ['2010'], ['2011'], ['2012'], ['2013'], ['2014'], ['OTHER']]%>
        <br/>
        <br/>
        Tell us anything else about your bike or what brought you to this website: (optional)
        <br/>
        <%= f.text_field :description %>
        <br/>
        <br/>      
    <!-- /div -->
    <!-- div class='col-xs-3' -->
      What store did you purchase it from? 
      <br/>(if applicable)
      <%= f.text_field(:store_name) %>
      <br/>
      <br/>
      What is the store's address? 
      <br/>(if applicable)
      <%= f.text_field(:store_address) %>
      <br/>
      <br/>
      What is the store's zip code?
      <br/>(if applicable)
      <%= f.text_field(:store_zip) %>
      <br/>
      <br/>
      In what state is the store located? 
      <br/>(if applicable)
      <%= select_tag((:store_state), options_for_select(us_states)) %>
      <br/>
      <br/>
      In what city are you located?
      <%= f.text_field(:city) %>
      <br/>
      <br/>
      In what state are you located?
      <%= select_tag :state, options_for_select(us_states) %>
      <br/>
      <br/>
    <!-- /div  -->

    <div class='row'>
      <div class='col-xs-5'>
        <%= f.submit 'Submit updated info', class: 'btn btn-primary' %>
    	</div>
      <div class='col-xs-2'>
      <%= link_to 'No changes', :back, class: 'btn btn-warning' %>
      </div>
    </div>
<!--
<%= :submitter%>
<% :submitter_ip %>
<%= :search_tally %>
<% :submitter_latitude %>
<% :submitter_longitude %>
-->
<% end %>
</div>
</div>