<div class='well'>
  <h1>Add or Edit Information About Your Bike:</h1>
  <div class='row'>
    <div class="col-xs-7">
      <h4>
        <ul class='list-inline'> 
          <li>Serial Number: <%= @bike.serial_number %></li><li></li><li></li><li></li>
          <li>Your email: <%= @bike.submitter %></li>
        </ul>
      </h4>
    </div>
  </div>
  <br/>

  <div class='row'>
    <!-- div class="col-xs-4" --> 
      <%= form_for(@bike) do |f| %>
          Why are you inquiring about this bike?
          <%= f.select :inquiry_reason, [['', 1], ['I\'m the owner and it is LOST/STOLEN', 2], ['I\'ve just purchased it USED from a private party', 3], ['I\'m CONSIDERING purchasing it from a private party', 4], ['I just purchased it NEW from a retail store', 5], ['I just purchased it USED from a retail store', 6]] %>
          <br/>
          <br/>
        On what date did the above selected activity happen?
        <%= f.date_select(:date, :order => [:month, :day, :year]) %>
        <br/>
        <br/>
        Brand:
        <%= f.select :brand, [['', 1], ['Trek', 2], ['Schwinn', 3], ['Giant', 4], ['Cannondale', 5], ['Mongoose', 6], ['Raleigh', 7], ['Specialized', 8], ['Diamondback', 9], ['Fuji', 10], ['Haro', 11], ['Shimano', 12], ['Huffy', 13], ['Gary Fisher', 14], ['Ellsworth', 15], ['Klein', 16], ['Jamis', 17], ['Bianchi', 18], ['GT', 19], ['Rocky Mountain', 20], ['Scott', 21], ['Litespeed', 22], ['Electra', 23], ['Surly', 24], ['Marin', 25], ['Terry Precision', 26], ['Sun', 27], ['Iron Horse', 28], ['Next', 29], ['LeMond', 30], ['Redline', 31], ['OTHER', 32]] %>
        <br/>
        <br/>
        Model:
        <%= f.text_field :model  %>
        <br/>
        <br/>
        Style:
        <%= f.text_field :style  %>
        <br/>
        <br/>
        Color:
        <%= f.text_field :color %>
        <br/>
        <br/>
        Size:
        <%= f.select :size_letter, [['', 1], ['XS', 2], ['S', 3], ['SM', 4], ['M', 5], ['ML', 6], ['L', 7], ['XL', 8], ['XXL', 9]] %>
        <br/>
        <br/>
        Size in centimeters:
        <%= f.select :size_centimeters, [['', 1], ['41', 2], ['42', 3], ['43', 4], ['44', 5], ['45', 6], ['46', 7], ['47', 8], ['48', 9], ['49', 10], ['50', 11], ['51', 12], ['52', 13], ['53', 14], ['54', 15], ['55', 16], ['56', 17], ['57', 18], ['58', 19], ['59', 20], ['60', 21], ['61', 22], ['62', 23]] %>
        <br/>
        <br/>
        Size in inches:

        <%= f.select :size_inches, [['', 1], ['41', 2], ['42', 3], ['43', 4], ['44', 5], ['45', 6], ['46', 7], ['47', 8], ['48', 9], ['49', 10], ['50', 11], ['51', 12], ['52', 13], ['53', 14], ['54', 15], ['55', 16], ['56', 17], ['57', 18], ['58', 19], ['59', 20], ['60', 21], ['61', 22], ['62', 23]] %>
        <br/>
        <br/>
        Year manufactured:
        <%= f.select :year, [['', 1], ['1991', 2], ['1992', 3], ['1993', 4], ['1994', 5], ['1995', 6], ['1996', 7], ['1997', 8], ['1998', 9], ['1999', 10], ['2000', 11], ['2001', 12], ['2002', 13], ['2003', 14], ['2004', 15], ['2005', 16], ['2006', 17], ['2007', 18], ['2008', 19], ['2009', 20], ['2010', 21], ['2011', 22], ['2012', 23], ['2013', 24], ['2014', 25], ['OTHER', 26]]%>
        <br/>
        <br/>
        Tell us anything else about your bike or what brought you to this website: (optional)
        <br/>
        <%= f.text_field :description %>
        <br/>
        <br/>      
    <!-- /div -->
    <!-- div class='col-xs-3' -->
      What store did you purchase it from? 
      <br/>(if applicable)
      <%= f.text_field(:store_name) %>
      <br/>
      <br/>
      What is the store's address? 
      <br/>(if applicable)
      <%= f.text_field(:store_address) %>
      <br/>
      <br/>
      What is the store's zip code?
      <br/>(if applicable)
      <%= f.text_field(:store_zip) %>
      <br/>
      <br/>
      In what state is the store located? 
      <br/>(if applicable)
      <%= select_tag((:store_state), options_for_select(us_states)) %>
      <br/>
      <br/>
      In what city are you located?
      <%= f.text_field(:city) %>
      <br/>
      <br/>
      In what state are you located?
      <%= select_tag :state, options_for_select(us_states) %>
      <br/>
      <br/>
    <!-- /div  -->

    <div class='row'>
      <div class='col-xs-5'>
        <%= f.submit 'Submit updated info', class: 'btn btn-primary' %>
    	</div>
      <div class='col-xs-2'>
      <%= link_to 'No changes', :back, class: 'btn btn-warning' %>
      </div>
    </div>
<!--
<%= :submitter%>
<% :submitter_ip %>
<%= :search_tally %>
<% :submitter_latitude %>
<% :submitter_longitude %>
-->
<% end %>
</div>
</div>