<body onload="showPosition()">

<script type="text/javascript">
function f(o){
  o.value=o.value.toUpperCase().replace(/([^0-9A-Z])/g,"");
}

function g(o){
  if(/[^0-9A-Z]/.test(o.value)){
    o.value=o.value.toUpperCase().replace(/([^0-9A-Z])/g,"");
  }
}
</script>

<% form_tag(bikes_path, :method => "get", id: "search-form") do %>

<input type="text"
       onkeydown="f(this)"
       onkeyup="f(this)"
       onblur="f(this)"
       onclick="f(this)" 

  <% text_field_tag :search, params[:search], placeholder: "Search Bikes" %>
  <% submit_tag "Search", :name => nil %>
<% end %>
<br/>
<br/>


<div class='well'>
<h3>The following serial numbers match your search:</h3>
<small>(including your submission, listed first)</small> 
<br/>
<br/>  
  <table class="table">
    <thead>
      <tr>
        <th>Serial number<br/>(click for more details)</th>
        <th>Email of inquirer</th>
        <th>Location</th>
        <th>Reason</th>
        <th>Date & Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @bikes.each do |result| %>
          <td><%= link_to result.serial_number, '#', :id => 'my-link'  %></td>
          <td><%= result.submitter %></td>
          <td><%= link_to result.lat_long, '#'%></td>
          <td><%= result.inquiry_reason %></td>
          <td><%=result.created_at %></td>
      </tr>

      <script>
        $('#my-link').click(function (event) {
          alert('Serial number: <%= result.serial_number %>\nSubmitted by: <%= result.submitter %>\nDate: <%= result.created_at %>\nLost or Stolen? reason code 2: <%= result.inquiry_reason %>\nBrand: <%= result.brand %>\nModel: <%= result.model %>\nStyle: <%= result.style %>\nColor: <%= result.color %>\nSize: <%= result.size_letter %>\nSize in centimeters: <%= result.size_centimeters %>\nSize in inches: <%= result.size_inches %>\nYear manufactured: <%= result.year %>\nDescription: <%= result.description %>\nStore purchased from: <%= result.store_name %>\nStore zip code: <%= result.store_zip %>');
          event.preventDefault(); // Prevent link from following its href
        });

     
      </script>

        <% end %>

    </tbody>
  </table>
</div>

Your location:
<div id="mapholder"></div>
  <div style="float:right">
    <%= link_to 'Back', :back, class: 'btn btn-warning' %>
  </div>
</body>
<script>

  function showPosition(position) {

      latlon = new google.maps.LatLng(<%= @bikes.last.lat_long %>)
      mapholder = document.getElementById('mapholder')
      mapholder.style.height = '250px';
      mapholder.style.width = '500px';

      var myOptions = {
      center:latlon,zoom:14,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      mapTypeControl:false,
      navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
      }
      
      var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
      var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
  }
</script>